<!DOCTYPE html>
<html lang="vi">
  <head>
    <%- include("./partials/head.ejs") %>
    <title><%=title %></title>
    <style>
      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 14px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body class="vh-100">
    <%- include("./partials/loading") %>
    <% if (path == "customer") { %>
      <%- include("./partials/customerHeader") %>
    <% } else {%>
      <%- include("./partials/driverHeader") %>
      <%- include("./partials/driverCheckDrive") %>  
    <% } %> 
    
    <div class="container-fluid">
      <div class="row">
        <div id="mySwiper"
          class="swiper-container mySwiper p-2"
          
          style="height: 100px"
        >
          <div class="swiper-wrapper " id="swiper-wrapper"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
      <% if (path != "customer") { %>
        <div class="row mb-3">
          <div class="col" id="money-panel"></div>
        </div>
      <% } %>
      

      <div class="row" style="overflow-y: auto">
        <div class="col" id="history-panel"></div>
      </div>
    </div>
    <%- include("./partials/script") %>
    <script src="https://unpkg.com/swiper@6.5.9/swiper-bundle.js"></script>
    <script>
      const swiper = new Swiper(".mySwiper", {
        initialSlide: 60,
        slidesPerView: 6,
        spaceBetween: 5,
        slidesPerGroup: 3,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
    <% if (path == "customer") { %>
      <script src="/js/customerHistory.js"></script>
    <% } else {%>
      <script src="/js/driverHistory.js"></script>
    <% } %> 
    
  </body>
</html>
