<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
    <title><%=title %></title>
  </head>
  <body>
    <%- include("./partials/loading") %>
    <div
      class="container-fluid text-white py-3 d-flex flex-column justify-content-center align-items-center"
      style="
        background-image: url(/image/road7.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        overflow:hidden;
      "
    >
      <div class="row">
        <div class="col-12 d-flex justify-content-center" style="max-width:380px">
          <form
            id="form"
            class="rounded py-5 px-3 shadow-lg need-validation"
            novalidate
            autocomplete="off"
            style="width: 320px;"
          >
            <h2 class="text-white text-center mb-3"><%= title %></h2>
            
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <div class="input-group has-validation">
                <span
                  class="input-group-text bg-transparent text-white"
                  id="inputGroupPrepend"
                >
                  @
                </span>
                <input
                  type="text"
                  class="form-control bg-transparent border border-3 text-white"
                  name="email"
                  id="email"
                  aria-describedby="inputGroupPrepend"
                  required
                />
                <div class="invalid-feedback" id="email-warning"></div>
              </div>
            </div>

            <div class="mb-4">
                <label for="username" class="form-label">Tên đăng nhập</label>
                <div class="input-group has-validation">
                  <span
                    class="input-group-text bg-transparent text-white"
                    id="inputGroupPrepend"
                  >
                    <i class="bi bi-person-circle"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control border border-3 bg-transparent text-white"
                    name="username"
                    id="username"
                    aria-describedby="inputGroupPrepend"
                    required
                  />
                  <div class="invalid-feedback" id="username-warning"></div>
                </div>
            </div>

            <div class="text-center mb-4">
              <button class="btn btn-primary" id="btn-get-code">
                Lấy mã khôi phục
              </button>
            </div>

            <div class="text-warning mb-3 text-center d-none" id="code-send-after" style="font-size: 14px;">
            </div>

            <div class="mb-3 d-none text-white" id="code-panel" >
                <label for="code" class="form-label">Mã khôi phục</label>
                <div class="input-group has-validation">
                  <span
                    class="input-group-text bg-transparent text-white"
                    id="inputGroupPrepend"
                  >
                  <i class="bi bi-key-fill"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control border border-3 bg-transparent text-white"
                    name="code"
                    id="code"
                    aria-describedby="inputGroupPrepend"
                    required
                  />
                  <div class="invalid-feedback" id="code-warning"></div>
                </div>
                <div class="text-center mt-3">
                  <button class="btn btn-primary" id="btn-check-code">
                    Đổi mật khẩu
                  </button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
        class="modal fade px-3"
        id="notification-modal"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="staticBackdropLabel">Lỗi</h3>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center ">
                    <i
                    class="bi bi-exclamation-circle-fill text-danger"
                    style="font-size: 40px"
                  ></i>
                  <span class="py-2 text-center" style="font-size: 16px"
                    >Email và Tên đăng nhập <br>không trùng khớp</span
                  >
                </div>
                <div class="modal-footer">
            
                  <button class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                </div>
              </div>
            </div>
    </div>

    <div
        class="modal fade px-3"
        id="redirect-modal"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="staticBackdropLabel">Đổi mật khẩu thành công</h3>
                </div>
                <div class="modal-body d-flex flex-column text-center align-items-center justify-content-center">
                  <a href="/customer/login">
                      <button class="btn btn-success">Quay lại trang đăng nhập</button>
                  </a>
                </div>
              </div>
            </div>
    </div>

    <div
        class="modal fade px-3"
        id="password-modal"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="staticBackdropLabel">Sửa mật khẩu</h3>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body d-flex flex-column">
                  <div class="mb-3">
                    <label for="password" class="form-label">Mật khẩu mới</label>
                    <div class="input-group has-validation">
                      <span
                        class="input-group-text"
                        id="inputGroupPrepend"
                      >
                        <i class="bi bi-key-fill"></i>
                      </span>
                      <input
                        type="password"
                        class="form-control bg-transparent border border-3"
                        name="password"
                        id="password"
                        aria-describedby="inputGroupPrepend"
                        required
                      />
                      <div class="invalid-feedback" id="password-warning"></div>
                      <small id="passwordHelpBlock" class="text-dark mt-2">
                        Mật khẩu phải dài trên 5 ký tự, chứa ít nhất 1 chữ số và một
                        chữ in hoa
                      </small>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="password-repeat" class="form-label">Nhập lại mật khẩu mới</label>
                    <div class="input-group has-validation">
                      <span
                        class="input-group-text"
                        id="inputGroupPrepend"
                      >
                        <i class="bi bi-key-fill"></i>
                      </span>
                      <input
                        type="password"
                        class="form-control border border-3"
                        name="password-repeat"
                        id="password-repeat"
                        aria-describedby="inputGroupPrepend"
                        required
                      />
                      <div class="invalid-feedback" id="password-repeat-warning"></div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-success" id="btn-change-password">Đồng ý</button>
                  <button class="btn btn-danger" data-bs-dismiss="modal">Huỷ</button>
                </div>
              </div>
            </div>
    </div>

    <%- include("./partials/script") %>
    <script>
      const notificationModal = new bootstrap.Modal(document.getElementById("notification-modal"), {
        backdrop: "static",
        keyboard: false,
      });

      const redirectModal = new bootstrap.Modal(document.getElementById("redirect-modal"), {
        backdrop: "static",
        keyboard: false,
      });

      const passwordModal = new bootstrap.Modal(document.getElementById("password-modal"), {
        backdrop: "static",
        keyboard: false,
      });
    </script>
    <!-- <script src="/js/valid.module.js"></script> -->
    <script type="module" src="/js/forgotPassword.js"></script>
  </body>
</html>
