<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
    <title><%=title %></title>
  </head>
  <body>
    <%- include("./partials/loading") %>
    <% if (path == "driver") { %>
      <%- include("./partials/driverHeader") %>
      <%- include("./partials/driverCheckDrive") %>  
    <% } else {%>
      <%- include("./partials/customerHeader") %>
    <% } %> 
    <div
      class="container-fluid text-white py-3 d-flex flex-column justify-content-center align-items-center"
      style="
        background-image: url(/image/road6.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
      "
    >
      <div class="row">
        <div class="col-12">
          <form
            id="form"
            class="rounded py-2 px-3 shadow-lg need-validation"
            novalidate
            autocomplete="off"
            style="max-width: 400px"
          >
            <h2 class="text-white text-center mb-3"><%= title %></h2>
            <div class="row mb-3">
              <div class="col-6">
                <label for="lastname" class="form-label">Họ</label>
                <input
                  type="text"
                  class="form-control bg-transparent border border-3 text-white"
                  id="lastname"
                  name="lastname"
                  value="<%=path=="driver" ? data.HOTX : data.HOKH%>"
                  required
                  disabled
                />
              </div>
              <div class="col-6">
                <label for="firstname" class="form-label">Tên</label>
                <input
                  type="text"
                  class="form-control bg-transparent border border-3 text-white"
                  id="firstname"
                  name="firstname"
                  value="<%=path=="driver" ? data.TENTX : data.TENKH%>"
                  required
                  disabled
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <label for="birthday" class="form-label">Ngày sinh</label>
                <div class="input-group has-validation">
                  <span
                    class="input-group-text bg-transparent text-white"
                    id="inputGroupPrepend"
                  >
                    <i class="bi bi-calendar-week"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control bg-transparent border border-3 text-white"
                    id="birthday"
                    name="birthday"
                    value="<%= data.NGAYSINH ? moment(data.NGAYSINH).format('DD/MM/YYYY') : ""%>"
                    required
                    disabled
                  />
                  <div class="invalid-feedback" id="birthday-warning"></div>
                </div>
              </div>
              <div class="col-6">
                <label for="gender" class="form-label">Giới tính</label>
                <div class="input-group has-validation">
                  <span
                    class="input-group-text bg-transparent text-white"
                    id="inputGroupPrepend"
                  >
                    <i class="bi bi-star-fill"></i>
                  </span>
                  <select
                    class="form-select bg-transparent text-white border border-3"
                    aria-label="Default select example"
                    disabled
                    id="gender"
                  >
                  <% var options = [ "", "Nam", "Nữ"]  %>
                    <% for ( var i = 0; i < options.length; i++ ) { %>
                      <% if(removeAccents(options[i]) == removeAccents(data.GIOITINH ? data.GIOITINH.trim() : "")) { %> 
                        <option class="text-dark" value="<%=options[ i ]%>" selected>
                          <%=options[i] %>
                        </option>
                        <% } else {%>
                          <option class="text-dark" value="<%=options[ i ]%>">
                            <%=options[i] %>
                          </option>
                        <% } %>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label for="email" class="form-label">Email</label>
              <div class="input-group has-validation">
                <span
                  class="input-group-text bg-transparent text-white"
                  id="inputGroupPrepend"
                >
                  @
                </span>
                <input
                  type="text"
                  class="form-control bg-transparent border border-3 text-white"
                  name="email"
                  id="email"
                  aria-describedby="inputGroupPrepend"
                  value="<%=data.EMAIL%>"
                  required
                  disabled
                />
                <div class="invalid-feedback" id="email-warning"></div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-12 mb-3">
                <label for="phone" class="form-label">Số Điện Thoại</label>
                <div class="input-group has-validation">
                  <span
                    class="input-group-text bg-transparent text-white"
                    id="inputGroupPrepend"
                  >
                    <i class="bi bi-phone"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control bg-transparent border border-3 text-white"
                    name="phone"
                    id="phone"
                    aria-describedby="inputGroupPrepend"
                    value="<%=data.SDT%>"
                    required
                    disabled
                  />
                  <div class="invalid-feedback" id="phone-warning"></div>
                </div>
              </div>
              <div class="col-12">
                <label for="address" class="form-label">Địa chỉ</label>
                <div class="input-group has-validation">
                  <span
                    class="input-group-text bg-transparent text-white"
                    id="inputGroupPrepend"
                  >
                    <i class="bi bi-geo-alt-fill"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control bg-transparent border border-3 text-white"
                    name="address"
                    id="address"
                    aria-describedby="inputGroupPrepend"
                    value="<%=data.DIACHI%>"
                    required
                    disabled
                  />
                  <div class="invalid-feedback" id="address-warning"></div>
                </div>
              </div>
            </div>

            <% if (path=="driver") { %>
              <div class="row mb-3">
                <div class="col-6">
                  <label for="country" class="form-label">Quê quán</label>
                  <div class="input-group has-validation">
                    <span
                      class="input-group-text bg-transparent text-white"
                      id="inputGroupPrepend"
                    >
                      <i class="bi bi-house-fill"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control bg-transparent border border-3 text-white"
                      name="country"
                      id="country"
                      aria-describedby="inputGroupPrepend"
                      value="<%=data.QUEQUAN%>"
                      required
                      disabled
                    />
                    <div class="invalid-feedback" id="country-warning"></div>
                  </div>
                </div>
                
                <div class="col-6">
                  <label for="join-date" class="form-label">Ngày tham gia</label>
                  <div class="input-group has-validation">
                    <span
                      class="input-group-text bg-transparent text-white"
                      id="inputGroupPrepend"
                    >
                      <i class="bi bi-calendar-event"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control bg-transparent border border-3 text-white"
                      name="join-date"
                      id="join-date"
                      aria-describedby="inputGroupPrepend"
                      value="<%=moment(data.NGAYTHAMGIA).format("DD/MM/YYYY")%>"
                      required
                      disabled
                    />
                    <div class="invalid-feedback" id="join-date-warning"></div>
                  </div>
                </div>
              </div>
            <% } %>
            
            <% if (path != "driver") { %>
              <div class="text-center">
                <button class="btn btn-warning" id="btn-change-user">
                  Sửa đổi
                </button>
                <button class="btn btn-success d-none" id="btn-save-user">
                  Lưu
                </button>
                <button class="ms-2 btn btn-danger d-none" id="btn-cancel-user">
                  Huỷ
                </button>
              </div>
            <% } %>

            <% if (path == "driver") { %>
              <div class="row mt-5">
                <h2 class="text-white text-center mb-3">Thông tin xe</h2>
                  <div class="col-6 mb-3">
                    <label for="vehicle-brand" class="form-label">Hãng xe</label>
                    <input
                      type="text"
                      class="form-control bg-transparent border border-3 text-white"
                      id="vehicle-brand"
                      name="vehicle-brand"
                      value="<%=data.HANGXE%>"
                      required
                      disabled
                    />
                  </div>
  
                  <div class="col-6 mb-3">
                    <label for="vehicle-name" class="form-label">Tên xe</label>
                    <input
                      type="text"
                      class="form-control bg-transparent border border-3 text-white"
                      id="vehicle-name"
                      name="vehicle-name"
                      value="<%=data.TENXE%>"
                      required
                      disabled
                    />
                  </div>
                
                  <div class="col-6">
                    <label for="license-plate" class="form-label">Biển kiểm soát</label>
                    <div class="input-group has-validation">
                      <input
                        type="text"
                        class="form-control bg-transparent border border-3 text-white"
                        id="license-plate"
                        name="license-plate"
                        value="<%=data.BIENKIEMSOAT%>"
                        required
                        disabled
                      />
                      <div class="invalid-feedback" id="license-plate-warning"></div>
                    </div>
                  </div>
  
                  <div class="col-6">
                    <label for="vehicle-color" class="form-label">Màu sắc</label>
                    <div class="input-group has-validation">
                      <input
                        type="text"
                        class="form-control bg-transparent border border-3 text-white"
                        id="vehicle-color"
                        name="vehicle-color"
                        value="<%=data.MAUSAC%>"
                        required
                        disabled
                      />
                      <div class="invalid-feedback" id="vehicle-color-warning"></div>
                    </div>
                  </div>
              </div>
            <% } %>

            <div class="row mb-3">
              <h2 class="text-white text-center mt-5 mb-3">Thông tin tài khoản</h2>
              <label for="username" class="form-label">Tên đăng nhập</label>
              <div class="input-group has-validation">
                <span
                  class="input-group-text bg-transparent text-white"
                  id="inputGroupPrepend"
                >
                  <i class="bi bi-person-circle"></i>
                </span>
                <input
                  type="text"
                  class="form-control bg-transparent border border-3 text-white"
                  aria-describedby="inputGroupPrepend"
                  id="current-username"
                  value="<%=data.TENDANGNHAP%>"
                  required
                  disabled
                />
              </div>
            </div>

            <div class="text-center mb-3">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#username-modal">
                Sửa tên đăng nhập
              </button>
              <button class="ms-2 btn btn-danger" data-bs-toggle="modal" data-bs-target="#password-modal">
                Sửa mật khẩu
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
        class="modal fade px-3"
        id="username-modal"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="staticBackdropLabel">Sửa tên đăng nhập</h3>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body d-flex flex-column ">
                  <div class="mb-3">
                    <label for="username" class="form-label">Tên đăng nhập mới</label>
                    <div class="input-group has-validation">
                      <span
                        class="input-group-text"
                        id="inputGroupPrepend"
                      >
                        <i class="bi bi-person-circle"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control border border-3"
                        name="username"
                        id="username"
                        aria-describedby="inputGroupPrepend"
                        required
                      />
                      <div class="invalid-feedback" id="username-warning"></div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-success" id="btn-change-username">Đồng ý</button>
                  <button class="btn btn-danger" data-bs-dismiss="modal">Huỷ</button>
                </div>
              </div>
            </div>
    </div>

    <div
        class="modal fade px-3"
        id="password-modal"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="staticBackdropLabel">Sửa mật khẩu</h3>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body d-flex flex-column">
                  <div class="mb-3">
                    <label for="old-password" class="form-label">Mật khẩu cũ</label>
                    <div class="input-group has-validation">
                      <span
                        class="input-group-text"
                        id="inputGroupPrepend"
                      >
                        <i class="bi bi-key-fill"></i>
                      </span>
                      <input
                        type="password"
                        class="form-control border border-3"
                        name="old-password"
                        id="old-password"
                        aria-describedby="inputGroupPrepend"
                        required
                      />
                      <div class="invalid-feedback" id="old-password-warning"></div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Mật khẩu mới</label>
                    <div class="input-group has-validation">
                      <span
                        class="input-group-text"
                        id="inputGroupPrepend"
                      >
                        <i class="bi bi-key-fill"></i>
                      </span>
                      <input
                        type="password"
                        class="form-control bg-transparent border border-3"
                        name="password"
                        id="password"
                        aria-describedby="inputGroupPrepend"
                        required
                      />
                      <div class="invalid-feedback" id="password-warning"></div>
                      <small id="passwordHelpBlock" class="text-dark mt-2">
                        Mật khẩu phải dài trên 5 ký tự, chứa ít nhất 1 chữ số và một
                        chữ in hoa
                      </small>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="password-repeat" class="form-label">Nhập lại mật khẩu mới</label>
                    <div class="input-group has-validation">
                      <span
                        class="input-group-text"
                        id="inputGroupPrepend"
                      >
                        <i class="bi bi-key-fill"></i>
                      </span>
                      <input
                        type="password"
                        class="form-control border border-3"
                        name="password-repeat"
                        id="password-repeat"
                        aria-describedby="inputGroupPrepend"
                        required
                      />
                      <div class="invalid-feedback" id="password-repeat-warning"></div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-success" id="btn-change-password">Đồng ý</button>
                  <button class="btn btn-danger" data-bs-dismiss="modal">Huỷ</button>
                </div>
              </div>
            </div>
    </div>
    
    <%- include("./partials/script") %>
    <% if (path == "driver") { %>
      <%- include("./partials/driverCheckWallet") %>
    <% } %>

    <script>
      let path = JSON.parse('<%- JSON.stringify(path) %>');
      const chooseCheckUserName = () => {

      }
      const usernameModal = new bootstrap.Modal(document.getElementById("username-modal"), {
        backdrop: "static",
        keyboard: false,
      });

      const passwordModal = new bootstrap.Modal(document.getElementById("password-modal"), {
        backdrop: "static",
        keyboard: false,
      });
    </script>
    <script src="/js/valid.js"></script>
    <script src="/js/profile.js"></script>
  </body>
</html>
