<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("./partials/loading") %>
    <div
      class="container-fluid text-white"
      style="
        background-image: url(/image/road6.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
      "
    >
      <div class="row vh-100">
        <div
          class="col-12 d-flex flex-column justify-content-center align-items-center"
        >
          <form
            id="form"
            class="rounded py-2 px-3 shadow-lg"
            method="<%=action %> "
            novalidate
            autocomplete="off"
            style="max-width: 400px"
          >
            <h2 class="text-white text-center mb-3"><%= title %></h2>
            <div class="row mb-3">
              <div class="col-6">
                <label for="lastname" class="form-label">Họ</label>
                <input
                  type="text"
                  class="form-control bg-transparent border border-3 text-white"
                  id="lastname"
                  name="lastname"
                  required
                />
              </div>
              <div class="col-6">
                <label for="firstname" class="form-label">Tên</label>
                <input
                  type="text"
                  class="form-control bg-transparent border border-3 text-white"
                  id="firstname"
                  name="firstname"
                  required
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label for="phone" class="form-label">Số Điện Thoại</label>
                <div class="input-group has-validation">
                  <span
                    class="input-group-text bg-transparent text-white"
                    id="inputGroupPrepend"
                  >
                    <i class="bi bi-phone"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control bg-transparent border border-3 text-white"
                    name="phone"
                    id="phone"
                    aria-describedby="inputGroupPrepend"
                    required
                  />
                  <div class="invalid-feedback" id="phone-warning"></div>
                </div>
              </div>
              <div class="col-6">
                <label for="email" class="form-label">Email</label>
                <div class="input-group has-validation">
                  <span
                    class="input-group-text bg-transparent text-white"
                    id="inputGroupPrepend"
                  >
                    @
                  </span>
                  <input
                    type="text"
                    class="form-control bg-transparent border border-3 text-white"
                    name="email"
                    id="email"
                    aria-describedby="inputGroupPrepend"
                    required
                  />
                  <div class="invalid-feedback" id="email-warning"></div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Tên đăng nhập</label>
              <div class="input-group has-validation">
                <span
                  class="input-group-text bg-transparent text-white"
                  id="inputGroupPrepend"
                >
                  <i class="bi bi-person-circle"></i>
                </span>
                <input
                  type="text"
                  class="form-control bg-transparent border border-3 text-white"
                  name="username"
                  id="username"
                  aria-describedby="inputGroupPrepend"
                  required
                />
                <div class="invalid-feedback" id="username-warning"></div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mật khẩu</label>
              <div class="input-group has-validation">
                <span
                  class="input-group-text bg-transparent text-white"
                  id="inputGroupPrepend"
                >
                  <i class="bi bi-key-fill"></i>
                </span>
                <input
                  type="password"
                  name="password"
                  class="form-control bg-transparent border border-3 text-white d-block"
                  id="password"
                  aria-describedby="passwordHelpBlock"
                  required
                />
                <div class="invalid-feedback" id="password-warning">
                  Hãy nhập mật khẩu
                </div>
                <small id="passwordHelpBlock" class="text-warning mt-2">
                  Mật khẩu phải dài trên 5 ký tự, chứa ít nhất 1 chữ số và một
                  chữ in hoa
                </small>
              </div>
            </div>

            <div class="">
              <label for="password-repeat" class="form-label"
                >Nhập lại Mật khẩu</label
              >
              <div class="input-group has-validation">
                <span
                  class="input-group-text bg-transparent text-white"
                  id="inputGroupPrepend"
                >
                  <i class="bi bi-key-fill"></i>
                </span>
                <input
                  type="password"
                  name="password-repeat"
                  class="form-control bg-transparent border border-3 text-white d-block"
                  id="password-repeat"
                  aria-describedby="passwordHelpBlock"
                  required
                />
                <div class="invalid-feedback" id="password-repeat-warning">
                  Nhập lại mật khẩu
                </div>
              </div>
            </div>

            <div class="text-center mt-3">
              <button class="btn btn-outline-light" type="submit" id="button">
                <%=title %>
              </button>
            </div>
          </form>

          
        </div>
      </div>
    </div>

    <div
        class="modal animate__animated animate__headShake px-3"
        id="modal"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="staticBackdropLabel">Lỗi</h3>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body text-center d-flex flex-column">
                  <i
                    class="bi bi-exclamation-circle-fill text-danger"
                    style="font-size: 30px"
                  ></i>
                  <span class="py-2" style="font-size: 18px"
                    >Hmm, bạn xem lại đã điền đúng chưa?!</span
                  >
                </div>
              </div>
            </div>
    </div>
    <%- include("./partials/script") %>

    <script src="/js/register.js"></script>
    <script>
      const modal = new bootstrap.Modal(document.getElementById("modal"), {
        backdrop: "static",
        keyboard: false,
      });
    </script>
    <!-- <script src="/js/register.js"></script> -->
  </body>
</html>
